@page "/academic-years"
@attribute [Authorize]
@using SMS.Models.DTOs.AcademicYears

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Size="Size.Medium" Indeterminate="true"/>
    </div>
}
else if (_years != null)
{
    <MudRTLProvider RightToLeft="true">
        <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add"
                Class="mb-10"
                @onclick="@(() => NavManager.NavigateTo($"academic-years/add"))"
                Color="Color.Dark"/>
        <MudTable Items="@_years" Dense Hover Filter="new Func<AcademicYearDto, bool>(FilterFunc1)" Elevation="4">
            <ToolBarContent>
                <MudText Typo="Typo.h4">الأعوام الدراسية</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchText" Placeholder="بحث بالإسم..."
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<AcademicYearDto, object>(x => x.Name)">
                        العام الدراسي
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>تاريخ البداية</MudTh>
                <MudTh>تاريخ النهاية</MudTh>
                <MudTh>الحالي؟</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.StartDate.ToString("dd/MM/yyyy")</MudTd>
                <MudTd>@context.EndDate.ToString("dd/MM/yyyy")</MudTd>
                <MudTd>
                    <MudCheckBox @bind-Value="@context.IsCurrent" Color="Color.Primary" Disabled>
                        
                    </MudCheckBox>
                </MudTd>
                <MudTd>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.ReadMore"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"academic-years/{context.Id}"))"
                            Color="Color.Default"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"academic-years/edit/{context.Id}"))"
                            Color="Color.Primary"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete"
                            @onclick="@(() => NavManager.NavigateTo($"academic-years/delete/{context.Id}"))"
                            Color="Color.Error"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    </MudRTLProvider>
}

@code {
    private List<AcademicYearDto>? _years;
    private bool _isLoading = false;
    private string _searchText = "";

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var res = await ApiClient.GetFromJsonAsync<AcademicYearsResponseDto>("/api/academic-years");

        if (res is { Success: true })
        {
            _years = res.AcademicYears;
        }

        _isLoading = false;
    }
    
    private bool FilterFunc1(AcademicYearDto element)
    {
        return FilterFunc(element, _searchText);
    }

    private bool FilterFunc(AcademicYearDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}