@page "/teachers"
@attribute [Authorize(Roles = "Admin,Support,Registrar,Teacher")]
@using SMS.Models.DTOs.Teachers

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Size="Size.Medium" Indeterminate="true"/>
    </div>
}
else if (_teachers != null)
{
    <MudRTLProvider RightToLeft="true">
        <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add"
                Class="mb-10"
                @onclick="@(() => NavManager.NavigateTo($"teachers/add"))"
                Color="Color.Dark"/>
        <MudTable Items="@_teachers" Dense Hover Filter="new Func<TeacherDto, bool>(FilterFunc1)" Elevation="4">
            <ToolBarContent>
                <MudText Typo="Typo.h4">الأساتذة</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchText" Placeholder="بحث بالإسم، رقم الهاتف أو المؤسسة..."
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<TeacherDto, object>(x => x.FullName)">
                        الإسم
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>البريد الإلكتروني</MudTh>
                <MudTh>رقم الهاتف</MudTh>
                <MudTh>المؤسسة</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.FullName</MudTd>
                <MudTd>@context.Email</MudTd>
                <MudTd>@context.Phone</MudTd>
                <MudTd>@context.Institution?.Name</MudTd>
                <MudTd>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.ReadMore"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"teachers/{context.Id}"))"
                            Color="Color.Default"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"teachers/edit/{context.Id}"))"
                            Color="Color.Primary"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete"
                            @onclick="@(() => NavManager.NavigateTo($"teachers/delete/{context.Id}"))"
                            Color="Color.Error"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    </MudRTLProvider>
}

@code {
    private List<TeacherDto>? _teachers;
    private bool _isLoading = false;
    private string _searchText = "";

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var res = await ApiClient.GetFromJsonAsync<TeachersResponseDto>("/api/teachers");

        if (res is { Success: true })
        {
            _teachers = res.Teachers;
        }

        _isLoading = false;
    }
    
    private bool FilterFunc1(TeacherDto element)
    {
        return FilterFunc(element, _searchText);
    }

    private bool FilterFunc(TeacherDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.FullName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Phone.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Institution!.Name!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

}