@page "/institutions"
@using SMS.Models.DTOs.Institutions
@attribute [Authorize]

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Size="Size.Medium" Indeterminate="true"/>
    </div>
}
else if (_institutions != null)
{
    <MudRTLProvider RightToLeft="true">
        <MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add"
                Class="mb-10"
                @onclick="@(() => NavManager.NavigateTo($"institutions/add"))"
                Color="Color.Dark"/>
        <MudTable Items="@_institutions" Dense Hover Filter="new Func<InstitutionDto, bool>(FilterFunc1)" Elevation="4">
            <ToolBarContent>
                <MudText Typo="Typo.h4">المؤسسات</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchText" Placeholder="بحث بالإسم..."
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<InstitutionDto, object>(x => x.Name)">
                        الإسم
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>البريد الإلكتروني</MudTh>
                <MudTh>رقم الهاتف</MudTh>
                <MudTh>نوع المؤسسة</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.Email</MudTd>
                <MudTd>@context.Phone</MudTd>
                <MudTd>@Enum.GetName(context.InstitutionType.GetType(), context.InstitutionType)</MudTd>
                <MudTd>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.ReadMore"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"institutions/{context.Id}"))"
                            Color="Color.Default"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit"
                            Class="me-1"
                            @onclick="@(() => NavManager.NavigateTo($"institutions/edit/{context.Id}"))"
                            Color="Color.Primary"/>
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete"
                            @onclick="@(() => NavManager.NavigateTo($"institutions/delete/{context.Id}"))"
                            Color="Color.Error"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    </MudRTLProvider>
}

@code {
    private List<InstitutionDto>? _institutions;
    private bool _isLoading = false;
    private string _searchText = "";

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var res = await ApiClient.GetFromJsonAsync<InstitutionsResponseDto>("/api/institutions");

        if (res is { Success: true })
        {
            _institutions = res.Institutions;
        }

        _isLoading = false;
    }
    
    private bool FilterFunc1(InstitutionDto element)
    {
        return FilterFunc(element, _searchText);
    }

    private bool FilterFunc(InstitutionDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

}